<html>
		<body>
				<h1>Input details for menu item</h1>
				<form action="{{ url_for('create_menu_item', restaurant_id=restaurant_id) }}" method="POST">
						<p>Name</p>
						<input type="text" placeholder="New Item" size=30 name='new_menu_item'>
						<br>
						<p>Course</p>
						<input type="text" placeholder="course" size=30 name="item_course">
						<br>
						<p>Description<p>
						<input type="text" placeholder="description" size=100 
						name="item_desc">
						<br>
						<p>Price</p>
						<input type="text" placeholder="$0.00" size=30 name="item_price">
						<br>
						<br>
						<input type="submit" value="Create Menu Item">
						<a href="{{url_for('restaurant_menu', restaurant_id = restaurant_id)}}">Cancel</a>
				</form>

		</body>
</html>
