<html>

		<head>
				<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

		</head>
		<body>
				<h3>Enter details for menu item to create</h3>
				<form action="{{ url_for('create_menu_item', restaurant_id=restaurant_id) }}" method="POST">

						<ul class="form-style-1">
								<li><label>Name <span class="required">*</span></label>
										<input type="text" placeholder="New Item"
										size=30 name='new_menu_item'>
								</li>
								<li>
										<label>Course <span class="required">*</span></label>
										<input type="text" placeholder="course" size=30 
										name="item_course">
								</li>
								<li>
										<label>Description <span class="required">*</span>
												<label>
										<textarea type="text" placeholder="description" size=10 
															  name="item_desc"></textarea>
								</li>
								<li>
										<label>Price <span class="required">*</span></label>
										<input type="text" placeholder="$0.00" size=30 
										name="item_price">
								</li>
								<li>
										<input type="submit" value="Create Menu Item">
										<button class="cancel-btn"><a href="{{url_for('restaurant_menu', 
														restaurant_id = restaurant_id)}}">
														Cancel</a>
										</button>
								</li>

						</ul>
				</form>

		</body>
</html>
