<html>

		<head>
				<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

		</head>
		<body>
				<h3>Are you sure you wanna delete item:  <strong>'{{ menu_item.name }}'</strong>?</h3>
				<form action="{{ url_for('delete_menu_item', restaurant_id=restaurant_id, 
						menu_id=menu_item.id) }}" method="POST">
						<ul class="form-style-1">
								<li><span>
												<input class="delete-btn" type="submit" value="Yes, Delete"></span>
									<span>
											<label class="cancel-btn"><a href="{{ url_for('restaurant_menu', restaurant_id=restaurant_id) }}">No, Cancel</a></label></span></li>
						</ul>
				</form>
		</body>
</html>
